#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid white;
}
.logo {
  width: 50px;
  height: 10%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-text {
  padding-top: 0;
  padding-left: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a82525;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 44px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
  color: #a82525;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.cooking-img {
  width: 40%;
  height: 40%;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 1rem 1rem; */
  /* height: auto; */
  /* width: 100%; */
}
.articles {
  padding: 2.5rem 1rem 0.5rem 1rem;
  width: 40%;
}
