#root {
  max-width: 1000px;
  min-height: 100vh;

  margin: 0 auto;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(224, 214, 214);
  color: #060101;
  font:
    1rem "Fira Sans",
    sans-serif;
  line-height: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
button {
  background-color: #a82525;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}
.logo {
  width: 50px;
  height: 10%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
  color: #a82525;
}
.header-text {
  padding-top: 0;
  padding-left: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #a82525; */
}
/* ul li {
  float: left;
  width: 250px;
} */

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
  max-width: auto;
  margin: 0 auto;
  gap: 2px;
  /* justify-content: space-between; */
}

.nav li {
  display: flex;
  width: calc(100% / 4);
  max-width: 25%;
  background-color: #a82525;
  /* max-width: 25%; */
  justify-content: center;
}

.nav li a:visited,
.nav li a:link {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 44px;
  text-decoration: none;
}
.nav li a:hover,
.nav li a:active {
  background-color: #f3eeee;
  color: #a82525;
  width: 100%;
}

.article-img {
  width: 40%;
  height: 40%;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.articles {
  justify-content: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2.5rem 0rem 1.5rem 1rem;
  margin: 0.5rem 1.1rem 17.6px;
  width: 40%;
}
.articles:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.search-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  gap: 0.5em;
}
.btn-search-articles {
  background-color: #a82525;
  padding: 0.5rem;
  border-radius: 5px;
}
.inp-search-article {
  background-color: white;
  padding: 0.3rem;
  border-radius: 3px;
  color: #a82525;
}
.footer {
  background-color: #a82525;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-top: auto;
}
.single-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0.5rem 2rem;
  /* width: 80%; */
}
.single-article-img {
  margin-inline-start: 0.5rem;
  padding: 0 2rem 0.5rem 2rem;
}
.comments {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1rem 0rem 1rem 1rem;
  margin: 0.5rem 1.1rem 17.6px;
  width: 40%;
}
.comments:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.votes {
  color: #a82525;
}
.lb-comment-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0rem;
}
.comment-text {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #a82525;
  width: 20%;
  color: #a82525;
}
.topics {
  justify-content: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 0.5rem 1.1rem 17.6px;
  width: 40%;
}
.topic-name {
  color: #a82525;
}
.users {
  justify-content: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1.5rem 0.5rem 0rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 40%;
}
.user-img {
  width: 40%;
  height: 40%;
}

/* Mobile Design */
.mobile-menu-btn {
  display: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 600px) {
  #root {
    padding: 0 10px;
    min-height: 100dvh;
  }
  .nav {
    display: none;
  }

  .mobile-menu-btn {
    display: flex;
    margin-bottom: 15px;
  }

  .mobile-menu-btn .close {
    margin-left: auto;
    font-size: larger;
    font-weight: bold;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav li {
    display: flex;
    width: 100%;
    background-color: #a82525;
  }

  .mobile-nav li a:hover,
  .mobile-nav li a:active {
    width: 100%;
    text-align: start;
  }

  .search-article {
    display: flex;
    flex-direction: column;
  }

  .main-section .articles {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 2.5%;
  }

  .main-section .articles img {
    height: auto;
  }
}
