#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid white;
  background-color: rgb(224, 214, 214);
  color: #a82525;
  font: 1rem "Fira Sans", sans-serif;
  line-height: 1rem;
  border-radius: 10px;
}
.logo {
  width: 50px;
  height: 10%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}
.header-text {
  padding-top: 0;
  padding-left: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a82525;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 44px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
  color: #a82525;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}
.cooking-img {
  width: 40%;
  height: 40%;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 1rem 1rem; */
  /* height: auto; */
  /* width: 100%; */
}
.articles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2.5rem 0rem 1.5rem 1rem;
  margin: 0.5rem 1.1rem 17.6px;
  width: 40%;
}
.articles:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.search-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  gap: 0.5em;
}
.btn-search-articles {
  background-color: #a82525;
  padding: 0.5rem;
  border-radius: 5px;
}
.inp-search-article {
  background-color: white;
  padding: 0.3rem;
  border-radius: 3px;
}
